<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsWarranty4Soap">
                    <security mode="Transport"/>
                </binding>
                <binding name="wsWarranty4Soap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.mapfrewarranty.com/wsWarranty4.asmx" binding="basicHttpBinding" bindingConfiguration="wsWarranty4Soap" contract="wsWarranty4.wsWarranty4Soap" name="wsWarranty4Soap"/>
        </client>
    </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
</configuration>
