<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="Architect.DataFactory.Log.MultiThread" value="true" />
		<add key="Architect.DataFactory.Cache.Expiration" value="10" />
		<add key="Architect.DataFactory.Trace.Enabled" value="True" />
		<!-- Ruta usada para almacenar los archivo generado por el llamado a traza, error, warnings usando la clase LogHandler -->
		<add key="Path.Logs" value="C:\bitbucket\aliados\webapp\logs" />
		<!-- Habilita (True) o no (False) la creación de traza en el código -->
		<add key="FrontOffice.Debug" value="True" />
		<!-- Indica si la traza solo se debe hace en disco (File) o si adicionalmente se hará en la base de datos -->
		<add key="FrontOffice.Debug.Mode" value="File" />
		<!-- Development, Quality, Production -->
		<add key="Working.Mode" value="Development" />
		<!-- Permite habilitar el modo de ejecución del servicio de datos, 'Local' para ejecutar de forma directa o 'Remote' para ejecutar por medio de WebService -->
		<add key="DataManager.Mode" value="Local" />
		<!-- Habilita (True) o no (False) la creación de traza por cual quien acceso a datos por medio de la librería DataAccessLayer -->
		<add key="DataAccessLayer.Debug" value="True" />
		<!-- Habilita (True) o no (False) mayor detalle para la traza -->
		<add key="DataAccessLayer.Debug.DetailsCall" value="True" />
		<!-- Setting generales para el manejo de correos -->
		<add key="EMail.Path.Images" value="C:\bitbucket\aliados\webapp\images\" />
		<add key="EMail.Test" value="solernelson@hotmail.com" />
		<!-- Servidor de correo por default -->
		<add key="EMail.Host" value="196.40.59.186" />
		<add key="EMail.Port" value="25" />
		<add key="EMail.Username" value="" />
		<add key="EMail.Password" value="" />
		<add key="EMail.EnableSsl" value="false" />
		<add key="EMail.Ssl.ValidCertificate" value="true" />
		<add key="EMail.From.Address" value="zonaaliados@mapfrecr.com" />
		<add key="EMail.From.Diplayname" value="Zona de aliados" />
	</appSettings>
	<connectionStrings>
		<add name="_Research" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=143.198.117.234)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User ID=ALIADOS;Password=c1234;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />

		<add name="Research" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User ID=TEST;Password=TEST;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
		
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-2.20.0.0" newVersion="2.20.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>
