<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Architect.Extend.Coope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Tenant Settings -->
		<add key="Tenant.Tron.Agent.Information" value="2,13" />
		<!-- Active Directory -->
		<add key="LDAP.Domain" value="mapfre.com.cr" />
		<!--<add key="Aliados.URL.Base" value="http://localhost:8082/Aliados" />-->
		<add key="Aliados.URL.Base" value="https://appqa.mapfrecr.com/Aliados" />
		<!-- Compliance -->
		<add key="Compliance.URL" value="https://www.snap-testing.com" />
		<add key="Compliance.Username" value="MAPFRE" />
		<add key="Compliance.Password" value="prueba/(.!1278" />
		<!-- Pagos -->
		<add key="Payment.Placetopay.Sonda.ExecutionTime" value="0 */6 * * *" />
		<add key="Payment.Placetopay.Notify.Enabled" value="false" />
		<add key="Payment.Placetopay.TimeOut" value="10" />
		<add key="Payment.Placetopay.PaymentUrl" value="https://checkout.davivienda.cr/" />
		<add key="Payment.Placetopay.ReturnUrl" value="http://localhost:8082/Aliados/pagos/resultado" />
		<add key="Payment.Placetopay.Login.CRC" value="ebd6244050129e68718d5a9a73e87e1c" />
		<add key="Payment.Placetopay.SecretKey.CRC" value="hr2zNGh4Ppac8RRk" />
		<add key="Payment.Placetopay.Login.USD" value="47b4e6abb52d1c14043778258fe26f65" />
		<add key="Payment.Placetopay.SecretKey.USD" value="Dv32izYD3qbV4NBk" />
		<!-- Security -->
		<add key="Security.Password.Expiration" value="180" />
		<!-- Security UsersCases-->
		<add key="Security.Users.Cases.Aliados" value="Mapfre;zonaliados;2023" />
		<!-- Generales -->
		<add key="Token.Mode" value="JWT" />
		<add key="Jwt:SecretKey" value="GearSoftJcv1821@t74" />
		<add key="Jwt:Issuer" value="Issuer" />
		<add key="Jwt:https" value="AliadosKey" />
		<add key="Jwt:Audience" value="Audience" />
		<add key="Architect.DataFactory.Log.MultiThread" value="true" />
		<add key="Architect.DataFactory.Cache.Expiration" value="10" />
		<add key="Architect.DataFactory.Trace.Enabled" value="True" />
		<!-- Ruta usada para almacenar los archivo generado por el llamado a traza, error, warnings usando la clase LogHandler -->
		<add key="Path.Logs" value="C:\bitbucket\aliados\webapp\logs" />
		<!-- Habilita (True) o no (False) la creación de traza en el código -->
		<add key="FrontOffice.Debug" value="True" />
		<!-- Indica si la traza solo se debe hace en disco (File) o si adicionalmente se hará en la base de datos -->
		<add key="FrontOffice.Debug.Mode" value="File" />
		<!-- Development, Quality, Production -->
		<add key="Working.Mode" value="Development" />
		<!-- Permite habilitar el modo de ejecución del servicio de datos, 'Local' para ejecutar de forma directa o 'Remote' para ejecutar por medio de WebService -->
		<add key="DataManager.Mode" value="Local" />
		<!-- Habilita (True) o no (False) la creación de traza por cual quien acceso a datos por medio de la librería DataAccessLayer -->
		<add key="DataAccessLayer.Debug" value="True" />
		<!-- Habilita (True) o no (False) mayor detalle para la traza -->
		<add key="DataAccessLayer.Debug.DetailsCall" value="True" />
		<add key="Session.Timeout" value="120" />
		<add key="API.Swagger.Enable" value="True" />
		<!-- Define el nombre del rol para determinar los usuarios a ser notificado, en caso de que una póliza necesite subscripción -->
		<add key="Mapfre.Notify.Subscription.RoleName" value="Seguridad" />
		<add key="Mapfre.Notify.Revisor.RoleName" value="Revisor" />
		<!-- Coopeservidores: Settings particulares -->
		<!-- Lista de correo separada por punto y coma, usada para enviar copia de la notificación del resultado de suscripción -->
		<add key="Mapfre.Notify.1.Response.Mail" value="solernelson@gmail.com=Nelson Soler" />
		<!-- Carrofáil: Settings particulares -->
		<!-- Lista de correo separada por punto y coma, usada para enviar copia de la notificación del resultado de suscripción -->
		<add key="Mapfre.Notify.5.Response.Mail" value="solernelson@hotmail.com=Nelson Soler;solernelson@gmail.com=Nelson Soler" />
		<add key="Entity.Path" value="C:\bitbucket\aliados\webapp\Specifications" />
		<add key="Product.Definition.Path" value="C:\bitbucket\aliados\webapp\products" />
		<add key="Attachments.Path" value="C:\bitbucket\aliados\webapp\files\" />
		<add key="Reportpdf.Path" value="C:\bitbucket\aliados\webapp\Reports\pdf\" />
		<add key="Certificadospdf.Path" value="C:\bitbucket\aliados\webapp\Reports\certificados\" />
		<add key="app.theme" value="" />
		<add key="app.api.base" value="https://appqa.mapfrecr.com/" />
		<add key="Tenant.Settings.3.External.UserId" value="999999002" />
		<add key="Tenant.Settings.3.External.RoleName" value="Cliente" />
		<add key="Tenant.Settings.4.External.UserId" value="999999001" />
		<add key="Tenant.Settings.4.External.RoleName" value="41" />
		<add key="Tenant.Settings.8.External.UserId" value="999999006" />
		<add key="Tenant.Settings.8.External.RoleName" value="68" />
		<!-- Setting generales para el manejo de correos -->
		<add key="EMail.Path.Images" value="C:\bitbucket\aliados\webapp\images\" />
		<add key="EMail.Test" value="solernelson@hotmail.com" />
		<!-- Servidor de correo por default -->
		<add key="EMail.Host" value="196.40.59.186" />
		<add key="EMail.Port" value="25" />
		<add key="EMail.Username" value="" />
		<add key="EMail.Password" value="" />
		<add key="EMail.EnableSsl" value="false" />
		<add key="EMail.Ssl.ValidCertificate" value="true" />
		<add key="EMail.From.Address" value="zonaaliados@mapfrecr.com" />
		<add key="EMail.From.Diplayname" value="Zona de aliados" />
		<!-- Servidor de correo Purdy -->
		<add key="EMail.Purdy.Host" value="smtp.office365.com" />
		<add key="EMail.Purdy.Port" value="587" />
		<add key="EMail.Purdy.Username" value="seguimientoReparacion@purdymo.com" />
		<add key="EMail.Purdy.Password" value="Palmares23" />
		<add key="EMail.Purdy.EnableSsl" value="true" />
		<add key="EMail.Purdy.Ssl.ValidCertificate" value="true" />
		<add key="EMail.Purdy.From.Address" value="seguimientoReparacion@purdymo.com" />
		<add key="EMail.Purdy.From.Diplayname" value="Seguimiento reparación" />
		<!-- Zona aliados tron -->
		<add key="Mapfre.Tron.cod_cia" value="1" />
		<add key="Mapfre.Tron.cod_nivel1" value="1" />
		<add key="Mapfre.Tron.cod_nivel2" value="101" />
		<add key="Mapfre.Tron.cod_nivel3" value="1011" />
		<add key="Mapfre.Tron.cod_modalidad" value="99999" />
		<add key="Mapfre.Tron.RutaImpresion" value="http://10.115.30.131:8082/of0" />
		<add key="Mapfre.Tron.HogarTotal.cod_sector" value="2" />
		<add key="Mapfre.Tron.302.Certificado.Complemento" value="boletacargoautomatico.pdf" />
		<add key="Mapfre.Tron.CreaSubAgentes" value="2;12" />
		<!-- DocuSing Settings -->
		<add key="DocuSign.Interval.Review" value="0" />
		<add key="DocuSign.Request.Company.Review" value="11" />
		<!-- Integración con Evicertia -->
		<add key="Evicertia.Authentication" value="cm95bmVyLmFjb3N0YUBtYXBmcmVjci5jb206TWFwZnIzLjU2" />
		<add key="Evicertia.URL.EviSignSubmit" value="https://app.ecertia.com/api/json/reply/EviSignSubmit" />
		<add key="Evicertia.URL.EviSignQuery" value="https://app.ecertia.com/api/EviSign/Query" />
		<add key="Evicertia.URL.EviMailSubmit" value="https://app.ecertia.com/api/EviMail/Submit" />
		<add key="Evicertia.Interval.Review" value="0" />
		<add key="Evicertia.Request.Company.Review" value="4,8" />
		<!-- Servicios Purdy -->
		<add key="Purdy.Service.AgentCode" value="0" />
		<!--Integracion con Panama Asistencia-->
		<!--MONGE-TEST-->
		<!--<add key="Warranty.User.Monge" value="GMGTEST2" />
		<add key="Warranty.Pass.Monge" value="gmgtest2021" />
		<add key="Warranty.Dealer.Monge" value="DL0001S" />-->
		<!--MONGE PRD-->
		<add key="Warranty.User.Monge" value="SVMONGE" />
		<add key="Warranty.Pass.Monge" value="svmonge.2021" />
		<add key="Warranty.Dealer.Monge" value="DL0001Q" />
		<!--Mapfre seguros: RA03-->
		<add key="Warranty.User.Mapfre" value="SVMAPFRE" />
		<add key="Warranty.Pass.Mapfre" value="svmapfre.21" />
		<add key="Warranty.Dealer.Mapfre" value="RA03" />
		<!--Confia: CONFICR-->
		<add key="Warranty.User.Confia" value="SVCONFIA" />
		<add key="Warranty.Pass.Confia" value="svconfia.21" />
		<add key="Warranty.Dealer.Confia" value="CONFICR" />
		<!--Innova: INNOCR-->
		<add key="Warranty.User.Innova" value="SVINNOVA" />
		<add key="Warranty.Pass.Innova" value="svinnova.21" />
		<add key="Warranty.Dealer.Innova" value="INNOCR" />
		<!--Martha Mora: MARTHA MARTHA MORA-->
		<add key="Warranty.User.Martha" value="SVMARTHA" />
		<add key="Warranty.Pass.Martha" value="svmartha.21" />
		<add key="Warranty.Dealer.Martha" value="MARTHA" />
		<!--Prisma: PRCR-->
		<add key="Warranty.User.Prisma" value="SVPRISMA" />
		<add key="Warranty.Pass.Prisma" value="svprisma.21" />
		<add key="Warranty.Dealer.Prisma" value="PRCR" />
		<!--GSI: GSICR-->
		<add key="Warranty.User.GSI" value="SVGSI" />
		<add key="Warranty.Pass.GSI" value="svgsi.21" />
		<add key="Warranty.Dealer.GSI" value="GSICR" />
		<!--IBG: IBGCR-->
		<add key="Warranty.User.IBG" value="SVIBG" />
		<add key="Warranty.Pass.IBG" value="svibg.21" />
		<add key="Warranty.Dealer.IBG" value="IBGCR" />
		<!--Metropolitanos: MTRCR-->
		<add key="Warranty.User.Metropolitanos" value="SVMETRO" />
		<add key="Warranty.Pass.Metropolitanos" value="svmetro.21" />
		<add key="Warranty.Dealer.Metropolitanos" value="MTRCR" />
		<!--Proteccion total: PROTCR-->
		<add key="Warranty.User.Proteccion" value="SVTOTAL" />
		<add key="Warranty.Pass.Proteccion" value="svtotal.21" />
		<add key="Warranty.Dealer.Proteccion" value="PROTCR" />
		<!--Banco popular: BP CORREDU-->
		<add key="Warranty.User.Popular" value="SVBPCORREDU" />
		<add key="Warranty.Pass.Popular" value="svcorredu.21" />
		<add key="Warranty.Dealer.Popular" value="BP CORREDU" />
		<!--Davivienda: DAVI-->
		<add key="Warranty.User.Davivienda" value="SVTOTAL" />
		<add key="Warranty.Pass.Davivienda" value="svtotal.21" />
		<add key="Warranty.Dealer.Davivienda" value="DAVI" />
		<!--Coopeservidores: COOPECORR-->
		<add key="Warranty.User.Coopeservidores" value="SVCOOPES" />
		<add key="Warranty.Pass.Coopeservidores" value="svcoopes.21" />
		<add key="Warranty.Dealer.Coopeservidores" value="COOPECORR" />
		<!--Comercial de seguros: COMER01-->
		<add key="Warranty.User.Comercial" value="SVTOTAL" />
		<add key="Warranty.Pass.Comercial" value="svtotal.21" />
		<add key="Warranty.Dealer.Comercial" value="COMER01" />
		<!-- Process -->
		<add key="Process.Mail.Contact.Notify.Template" value="Notify_ContactProcess_Progress" />
		<add key="Process.Mail.Responsible.Notify.Template" value="Notify_ResponsibleProcess_Progress" />
		<add key="Process.Mail.Responsible.Notify.OverDue.Template" value="Notify_ResponsibleProcess_OverDue" />
		<add key="Process.Mail.Responsible.Notify.OverDue.EveryTime" value="0" />
		<add key="Process.Review.EveryTime" value="0" />
		<add key="Files.Path" value="~/files" />
		<!-- .Net -->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="owin:AutomaticAppStartup" value="false" />
	</appSettings>
	<connectionStrings>
		<!-- LOCAL -->
		<add name="Research" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User ID=ALIADOS;Password=ALIADOS2021;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
		<add name="Tron" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.114.20.68)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=DESCR)));User ID=TRON2000;Password=TRON2000CA;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />

		<!-- DEV 
		<add name="research" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.114.20.68)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=DESCR)));User ID=ALIADOS;Password=ALIADOS2021;" providerName="oracle.dataaccess.client" />
		<add name="Tron" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.114.20.68)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=DESCR)));User ID=TRON2000;Password=TRON2000CA;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
		-->
		<!-- QA 
		<add name="research" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.115.30.131)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=OF0)));User ID=ALIADOS;Password=ALIADOS2021;" providerName="oracle.dataaccess.client" />
		<add name="Tron" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.115.30.131)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=OF0)));User ID=TRON2000;Password=WARAIRA2022;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
		-->
		<!-- QA INT
		<add name="research" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.115.30.133)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=REP)));User ID=ALIADOS;Password=Tempispfpraliad20;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;pooling=true" providerName="oracle.dataaccess.client" />
		<add name="Tron" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.115.30.133)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=REP)));User ID=TRON2000;Password=TRONPRETRN2017;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;pooling=true" providerName="Oracle.DataAccess.Client" />
		-->
		<!-- Prod
		<add name="Research" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.115.30.66)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=PRD)));User ID=ALIADOS;Password=Tempispfpraliad20;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
		<add name="Tron" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.115.30.66)(PORT=1525))(CONNECT_DATA=(SERVICE_NAME=PRD)));User ID=TRON2000;Password=crbddtrn2017;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client" />
		-->
	</connectionStrings>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="Architect.Data.Source" />
				<add assembly="Architect.Data.Viewer" />
				<add assembly="Architect.API.Core" />
				<add assembly="Architect.API.Insurance" />
				<!--<add assembly="Architect.API.Product" />-->
				<add assembly="Architect.API.Tron" />
				<!--<add assembly="Architect.Entity" />-->
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.8" maxRequestLength="32000000" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" responseHeaderEncoding="utf-8" culture="es-CR" uiCulture="es-CR" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Web.Optimization" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
			<!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.20.0.0" newVersion="2.20.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq.Dynamic.Core" publicKeyToken="0f07ec44de6ac832" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.2.0" newVersion="1.3.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.4.2.0" newVersion="3.4.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.30.0.0" newVersion="6.30.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.28.1.0" newVersion="6.28.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.30.0.0" newVersion="6.30.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.28.1.0" newVersion="6.28.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Humanizer" publicKeyToken="979442b78dfc278e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.96.0.0" newVersion="0.96.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<Architect.Extend.Coope.Properties.Settings>
			<setting name="Architect_Extend_Coope_cr_fi_cs_crm_ServiciosMAPFREDigitalBindingQSService" serializeAs="String">
				<value>https://crm.cs.fi.cr:443/PROXY/ServiciosMAPFRE/ProxyServices/ClientesMapfre</value>
			</setting>
		</Architect.Extend.Coope.Properties.Settings>
	</applicationSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="wsWarranty4Soap">
					<security mode="Transport" />
				</binding>
				<binding name="wsWarranty4Soap1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://www.mapfrewarranty.com/wsWarranty4.asmx" binding="basicHttpBinding" bindingConfiguration="wsWarranty4Soap" contract="wsWarranty4.wsWarranty4Soap" name="wsWarranty4Soap" />
		</client>
	</system.serviceModel>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
</configuration>