<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SupplierInfoWServiceSoapBinding" />
                <binding name="RcvGurtWServiceSoapBinding" />
                <binding name="ResultGurtWServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.sicop.go.cr:8080/SupplierInfoWS/SupplierInfoWService"
                binding="basicHttpBinding" bindingConfiguration="SupplierInfoWServiceSoapBinding"
                contract="SupplierInfoWS.SupplierInfoWService" name="SupplierInfoWServiceSoapPort" />
            <endpoint address="http://www.sicop.go.cr:8080/RcvGurtWS/RcvGurtWService"
                binding="basicHttpBinding" bindingConfiguration="RcvGurtWServiceSoapBinding"
                contract="RcvGurtWS.RcvGurtWService" name="RcvGurtWServiceSoapPort" />
            <endpoint address="http://www.sicop.go.cr:8080/ResultGurtWS/ResultGurtWService"
                binding="basicHttpBinding" bindingConfiguration="ResultGurtWServiceSoapBinding"
                contract="ResultGurtWS.ResultGurtWService" name="ResultGurtWServiceSoapPort" />
        </client>
    </system.serviceModel>
</configuration>